# Please add user editor configs to system gitignore:
# git config --global core.excludesfile
# git config --global core.excludesfile ~/.gitignore
# see also: https://gist.github.com/subfuzion/db7f57fff2fb6998a16c
.clj-kondo/.cache
.cpcache
.env
.idea
.lsp
.nrepl-port
.shadow-cljs
*.~undo-tree~
/.clj-kondo/imports
/out
/pom.xml
/resources/public/*.min.css
/resources/public/edn_view/js/cljs-runtime
/resources/public/edn_view/js/main.js
/resources/public/edn_view/js/manifest.edn
/resources/public/examples/js/
/resources/public/js/
/resources/public/photon/js/
node_modules
target
tsconfig.tsbuildinfo
.DS_Store
output.calva-repl
/yarn.lock
/electric.iml