name: hyperfiddle/electric
on:
  push:
    branches:
      - "**"
  pull_request:
jobs:
  jvm:
    name: Run JVM tests
    runs-on: [ubuntu-latest]
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4

    - run: git status

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
         path: ~/.m2/repository
         key: ${{ runner.os }}-maven-${{ hashFiles('**/deps.edn') }}
         restore-keys: |
           ${{ runner.os }}-maven-

    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@12.5
      with:
        cli: 1.12.4.1582

    - name: Run tests
      run: ./ci/run_tests_jvm.sh

  browser:
    name: Run browser tests
    runs-on: [ubuntu-latest]
    timeout-minutes: 5
    steps:

    - uses: actions/checkout@v4

    - run: git status

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
         path: ~/.m2/repository
         key: ${{ runner.os }}-maven-${{ hashFiles('**/deps.edn') }}
         restore-keys: |
           ${{ runner.os }}-maven-

    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@12.5
      with:
        cli: 1.12.4.1582

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18.x

    - name: NPM install
      run: npm install --include=dev

    - name: Install Shadow
      run: npm install shadow-cljs

    - name: Setup Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Run Tests
      run: ./ci/run_tests_browser.sh

  nodejs:
    name: Run NodeJS tests
    runs-on: [ubuntu-latest]
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4

    - run: git status

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
         path: ~/.m2/repository
         key: ${{ runner.os }}-maven-${{ hashFiles('**/deps.edn') }}
         restore-keys: |
           ${{ runner.os }}-maven-

    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@12.5
      with:
        cli: 1.12.4.1582

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18.x

    - name: NPM install
      run: npm install

    - name: Run Tests
      run: ./ci/run_tests_node.sh